
.ima{
	 text-align: center;
	 margin-top: 37px;
}
.col-md-6 {
	left:250px;
	display: block;
}

footer {
	margin-top: 50px;
	height: 0px;
  position: static;
  width: 99%;

}

footer ul{
	list-style: none;
	color:black!important;
}
footer a{
	color:black!important;

}
a:hover{
	color: #5cb85c!important;
}
